pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.0em;
  line-height: 1.5;

}

pre {
  background-color: #F4F4F4;
  color: #001B44;
  white-space: pre;

  hyphens: none;
  position: relative;
}
