pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-family: 'courier';
  font-size: 0.75em;
  line-height: 1.5;

}

pre {
  background-color: #265D73;
  color: #E8FDF5;
  white-space: pre;

  hyphens: none;
  position: relative;
}
