{{ range .Site.Params.googlefonts }}
       <link rel="stylesheet" {{ printf "href=\"//fonts.googleapis.com/css?family=%s\"" . | safeHTMLAttr }} type="text/css" media="all" />
     {{ end }}

 <style>
 h1,h2,h3,h4,h5,h6,f1,f2,f3,f4,f5,f6,a,header,blockquote {
     font-family: '{{ .Site.Params.fonttitle }}';
 }
 body,div,p {
     font-family: '{{ .Site.Params.fontbody }}';
 }
 pre  code {
    font-family: '{{ .Site.Params.fontcode }}'; 
 }
 
 code, samp {
    font-family: '{{ .Site.Params.fontcode }}'; 
 }
 </style>

<!-- Mathjax --> 
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Code syntax highlighting -->
<!-- https://highlightjs.org/download/ -->
<!-- https://cdnjs.com/libraries/highlight.js -->
<!-- https://amber.rbind.io/2017/11/15/syntaxhighlighting/ -->

<link rel="stylesheet" href="{{ "css/night-owl_custom.css" | absURL }}">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>
