{{ range .Site.Params.googlefonts }}
       <link rel="stylesheet" {{ printf "href=\"//fonts.googleapis.com/css?family=%s\"" . | safeHTMLAttr }} type="text/css" media="all" />
     {{ end }}

 <style>
 h1,h2,h3,h4,h5,h6,f1,f2,f3,f4,f5,f6,a,header,blockquote {
     font-family: '{{ .Site.Params.fonttitle }}';
 }
 body,div,p {
     font-family: '{{ .Site.Params.fontbody }}';
 }
 pre  code {
    font-family: '{{ .Site.Params.fontcode }}'; 
 }
 
 code, samp {
    font-family: '{{ .Site.Params.fontcode }}'; 
 }
 </style>
 
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<link href="{{"css/night-owl.min_custom.css" | absURL}}" rel="stylesheet">
<script src="//cdn.bootcss.com/highlight.js/11.6.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/r.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/python.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/python-repl.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/sql.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/julia.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/julia-repl.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/11.6.0/languages/markdown.min.js"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>
